__pycache__/
.coverage
.DS_Store
.idea/
.minio.sys/
.pyc
.sql.gz
*.py[cod]
build/
db.sqlite3
django/.coverage
django/staticfiles/
django/venv/
node_modules/
public/static/
react/node_modules/
TEST-*xml
venv/
coverage/
minio/minio_files/
decoder.env
*.swp
cron.log
