__pycache__/
.coverage
.DS_Store
.idea/
.minio.sys/
.pyc
.sql.gz
.vscode
*.py[cod]
build/
db.sqlite3
django/.coverage
django/staticfiles/
django/venv/
node_modules/
public/static/
react/node_modules/
TEST-*xml
venv/
coverage/
minio/minio_files/
decoder.env
*.swp
chart/itvr/charts/itvr-minio/charts/
chart/itvr/charts/database/charts/
Chart.lock
chart/itvr/charts/itvr-minio/charts/
cron.log
