.consent-list {
  li {
    margin-bottom: 1rem;
  }
}
.box-container {
  border: 1px solid $background-grey-dark;
  border-radius: 3px;
  padding: 1px;
  margin-bottom: 2rem;
}
.emli-address {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
