table,
th,
td {
  padding: 4px;
  border: 1px solid black;
  border-collapse: collapse;
}
#bceid-login-square {
  background-color: $background-grey-dark;
  padding: 1.5rem;
  width: 400px;
  height: 300px;
  margin-bottom: 2rem;
  button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
#whats-needed {
  padding: 2rem 8rem 2rem 8rem;
  margin-top: 2rem;
  background: $background-grey-light;
}
#start-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#start-application {
  margin-top: -2rem;
  background-image: url('../../public/body-graphic.svg');
  background-color: $background-grey-light;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-left: 6rem;
  padding-top: 6rem;
  min-height: 75vh;
}
.asterisk-text {
  background-color: $background-grey-light;
  p {
    margin-top: 0;
  }
}
@media (max-width: 820px) {
  #whats-needed {
    padding: 0;
  }
  .asterisk-text {
    background-color: $white;
  }
  #start-application {
    background-image: none;
    margin: 0;
    padding: 2rem 0 0.5rem;
    min-height: 30vh;
    #start-text {
      margin-top: 0;
      color: $text-heading-blue;
    }
    #bceid-login-square {
      width: 15rem;
      height: 15rem;
      margin-left: auto;
      margin-right: auto;
      #BceidLoginTitle {
        color: $white;
        margin-bottom: 0.5rem;
      }
      .button {
        font-size: 1.5rem;
        margin-top: 0.5rem;
      }
    }
  }
}
