table,
th,
td {
  padding: 4px;
  border: 1px solid black;
  border-collapse: collapse;
}
#bceid-login-square {
  background-color: $background-grey-dark;
  padding: 2.5rem;
  width: 400px;
  height: 300px;
  margin-bottom: 2rem;
  button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
#whats-needed {
  padding: 2rem 8rem 2rem 8rem;
  margin-top: 2rem;
  background: $background-grey-light;
}
#start-text {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
#start-application {
  margin: -2rem;
  background-image: url('../../public/body-graphic.svg');
  background-color: $background-grey-light;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  padding-left: 6rem;
  padding-top: 6rem;
  min-height: 80vh;
}
@media (max-width: 600px) {
  #bceid-login-square {
    width: 15rem;
    height: 15rem;
  }
  #whats-needed {
    padding: 0;
  }
  #start-application {
    margin: 0;
    padding-top: 2rem;
    padding-left: 1.5rem;
    min-height: 30vh;
    #start-text {
      font-size: 1.25rem;
      margin-top: 0;
    }
  }
}
