.content {
  background-color: $default-background-grey;
}
.bordered {
  border: 1px solid #e0e0e0;
  padding: 0.5rem;
}
#dataset-select {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
#trash-button {
  height: 15px;
}
.upload-list {
  font-weight: normal;
}
.upload-row {
  height: 15px;
}
.file-upload {
  border: 2px dashed $default-link-blue;
  background: $white;
  padding: 1rem;
  text-align: center;
  flex-direction: column;
}
