.cleanbc-banner {
  background-color: $banner-blue;
  font-size: 1.25rem;
  display: flex;
  border-bottom: 3px solid $border-orange;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  a {
    color: $white;
    text-decoration: none;
    font-weight: bold;
  }
  img {
    margin-left: 10rem;
    height: 4.5rem;
    width: auto;
  }
}

.page-header {
  background-color: $banner-blue;
  width: 100%;
  height: 191px;

  .title {
    h1 {
      color: $white;
    }
    h1 {
      padding-left: 6rem;
    }
  }
}

@media (max-width: 992px) {
  .cleanbc-banner {
    font-weight: normal;
    height: 3rem;
    img {
      margin-left: 1rem;
      height: 3rem;
    }
  }
  .page-header {
    width: 100%;
    position: relative;
    margin: 0;
    height: 140px;
    .title {
      margin: 5px 0 0 1rem;
      h1 {
        padding-left: 0;
        font-size: 2rem;
      }
    }
  }
}
@media (max-width: 688px) {
  .page-header {
    height: 120px;
    .title {
      h1 {
        padding-left: 0;
        font-size: 1.75rem;
      }
    }
  }
}
@media (max-width: 380px) {
  .page-header {
    a {
      font-size: 10pt;
    }
    .title {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
@media (max-width: 330px) {
  .page-header {
    .title {
      h1 {
        font-size: 1.2rem;
      }
    }
  }
}
