/*
Base Style
*/

@import 'variables.scss';
@import 'App.scss';
@import 'EligibilityPage.scss';
@import 'Header.scss';
@import 'FileUpload.scss';
@import 'Consent.scss';
@import 'ApplicationDetails.scss';
@import 'Login.scss';
@import 'Identification.scss';

/* BC Sans Regular */
@font-face {
  font-family: 'BCSans';
  src: url('./fonts/BCSans-Regular.woff') format('woff');
}

/* BC Sans Bold */
@font-face {
  font-family: 'BCSans';
  font-weight: bold;
  src: url('./fonts/BCSans-Bold.woff') format('woff');
}

/* BC Sans Bold + Italic */
@font-face {
  font-family: 'BCSans';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/BCSans-BoldItalic.woff') format('woff');
}

/* BC Sans Italic */
@font-face {
  font-family: 'BCSans';
  font-style: italic;
  src: url('./fonts/BCSans-Italic.woff') format('woff');
}

body,
html {
  background-color: $white;
  height: 100%;
}

body {
  color: $black;
  font-family: 'BCSans', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: $black;
  margin-top: 5px;
}

p,
table,
li,
div,
.label,
.MuiTableCell-root {
  font-size: 1.35rem;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.1rem;
  font-weight: bold;
}
h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
}
h4,
.button {
  font-size: 1.5rem;
  font-weight: normal;
}
h5 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  color: $black;
  font-weight: normal;
  margin-top: 0;
  padding: 0;
}
.link {
  background-color: transparent;
  border: none;
  color: $default-link-blue;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}
a {
  color: $default-link-blue;
}
.button {
  background-color: $button-blue;
  height: 3.5rem;
  color: $white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 0 solid $button-blue;

  &:disabled {
    color: $background-grey-dark;
    background-image: none;
    opacity: 0.6;
  }
}

.page-content {
  margin: 0 6rem 0 6rem;
  padding-bottom: 2rem;
}
@media (max-width: 992px) {
  .page-content {
    margin: 0 1rem 0 1rem;
  }
}

span.validated {
  display: block;
  background-color: rgb(126, 189, 66);
  color: white;
  font-size: 32px;
  text-align: center;
  padding-top: 25px;
}

p.error {
  color: rgb(200, 35, 51);
}

span.error {
  display: block;
  font-size: 32px;
  font-weight: bold;
  color: rgb(200, 35, 51);
  padding-bottom: 25px;
}
