// Variables for colors //
$text-blue-paragraph: #002a4e;
$text-grey-paragraph: rgb(96, 96, 96);
$text-heading-blue: #0090b5;

$text-link-blue: #1a5a96;
$text-link-orange: #fcbc19;

$white: #ffffff;

$background-grey-light: #edebeb;
$background-grey-dark: #8c847c;

$button-blue: #003155;
$banner-blue: #003366;

$default-link-blue: #568dba;
$default-background-grey: #f2f2f2;
