# Default values for itvr-task-queue.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

toolsNamespace: ac294c-tools
envNamespace: ac294c-dev
envName: dev

# decide which image in tools project will be used
imageTools:
  repository: image-registry.openshift-image-registry.svc:5000
  tag: itvr-task-queue@sha256:d6a7444b87b553663daa9f1a61484d6d3f77875ae3523f3c8964c9d47735360d
  pullPolicy: IfNotPresent

# decide the imagestream will be created in env projects
# for pr based, coulde user the value fpr 1.0.0-<pr number>
imageEnv:
  tag: 1.0.0

imagePullSecrets: []

## For ITVR Baclend App, set the following two, will result in 
## itvr-task-queue.fullname and itvr-task-queue.name are itvr-task-queue
#nameOverride: "itvr-task-queue"
#fullnameOverride: "itvr-task-queue"

#nameOverride: ""
#fullnameOverride: ""


serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 60m
    memory: 60Mi
  requests:
    cpu: 30m
    memory: 30Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 1
  targetCPUUtilizationPercentage: 90
  targetMemoryUtilizationPercentage: 90

nodeSelector: {}

tolerations: []

affinity: {}

taskQueue:
  sendEmail: 'True'
  craEnvrionment: A
  djangoDebug: 'False'

