kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  annotations:
    description: Defines how to deploy the frontend application
  name: {{ include "itvr-frontend.deploymentconfigName" . }}
  labels:
    {{- include "itvr-frontend.labels" . | nindent 4 }}
spec:
  strategy:
    type: Recreate
    recreateParams:
      timeoutSeconds: 300
    resources: {}
    activeDeadlineSeconds: 600
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - frontend
        from:
          kind: ImageStreamTag
          namespace: {{ .Values.image.namespace }}
          name: {{ include "itvr-frontend.name" . }}:{{ .Values.frontendImageTagName }}
    - type: ConfigChange
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    {{- include "itvr-frontend.selectorLabels" . | nindent 4 }}
  template:
    metadata:
      creationTimestamp: null
      labels:
        {{- include "itvr-frontend.labels" . | nindent 8 }}
    spec:
      volumes:
        - name: {{ include "itvr-frontend.configmapName" . }}
          configMap:
            name: {{ include "itvr-frontend.configmapName" . }}
            defaultMode: 420
      containers:
        - resources:
            limits:
              cpu: 60m
              memory: 60Mi
            requests:
              cpu: 30m
              memory: 30Mi
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 20
            timeoutSeconds: 3
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
          terminationMessagePath: /dev/termination-log
          name: frontend
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 30
            timeoutSeconds: 3
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
          ports:
            - containerPort: 8080
              protocol: TCP
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: {{ include "itvr-frontend.configmapName" . }}
              mountPath: /app/static/js/config
          terminationMessagePolicy: File
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler

