/*
Base styling for "App"
ie General Container
*/
/* BC Sans Regular */
@font-face {
  font-family: "BCSans";
  src: url('./fonts/BCSans-Regular.woff') format('woff');
}

/* BC Sans Bold */
@font-face {
  font-family: "BCSans";
  font-weight: bold;
  src: url('./fonts/BCSans-Bold.woff') format('woff');
}

/* BC Sans Bold + Italic */
@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/BCSans-BoldItalic.woff') format('woff');
}

/* BC Sans Italic */
@font-face {
  font-family: "BCSans";
  font-style: italic;
  src: url('./fonts/BCSans-Italic.woff') format('woff');
}

// Variables for colors //
$text-blue-paragraph: #002a4e;

$text-heading-blue: #0090b5;

$text-link-blue: #1A5A96;
$text-link-orange: #FCBC19;

$white: #FFFFFF;

$background-grey-light: #EDEBEB;
$background-grey-dark: #8c847c;

$button-blue: #003155;

//*************
// this is used on react table and came in with the scaffolding
$bg-alt-black: #1E1F21;
$bg-black: #000;
$bg-white: #FFF;
$default-table-border-color: rgba(249, 249, 249, 0.2);
$default-table-color: #F9F9F9;
$highlight: #0078FD; 
// **************

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-heading-blue;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.link {
  background-color: transparent;
  border: none;
  color: $text-link-blue;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}
#button {
  background-color: $button-blue;
  background-image: -webkit-linear-gradient(left, $button-blue, $text-heading-blue);
  color: $white;
  border: 0 solid $button-blue;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;

  &:hover {
  background-image: -webkit-linear-gradient(right, $button-blue, $text-heading-blue);
  background-color: $button-blue;
  }
  &:disabled {
    background-color: $background-grey-light;
    opacity: 0.6;
  }
}

body, html {
  background-color: $white;
  height: 100%;
}

body {
  color: $text-blue-paragraph;
  font-family: "BCSans", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  .App-header {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    align-items: center;
    background-color: $white;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;

    .container {
      margin: 0 auto;
      // max-width: 1280px;
      padding: 0 1rem;
      width: 100%;
    }


  }

  .App-body {
    margin: 1rem auto 0;
    // max-width: 1280px;
    padding: 0 1rem;
  }
}