/*
Base Style
Everything else will generally be controlled via bootstrap
*/


@import 'App.scss';
@import 'ReactTable.scss';

body {
  background-color: $white;
  color: $text-blue-paragraph;
  font-family: "BCSans", sans-serif;
  font-weight: 700;
  height: 100%;
  margin: 0;
}